
body{
    margin: 0;
    padding: 0;
}
ul{
    margin-block-start: 0px;
    margin-block-end: 0px;
    list-style: none;
    justify-content: space-evenly;
    display: flex;
    padding: 10px;
}


.logo{
    padding: 10px;
}

.content{
    background-image: url(background.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}


nav{
    align-items: center;
    display: flex;
    justify-content: space-between;
        
}


.my-content{
width: 300px;
}


h1{
    margin: 0;
 text-align: center;
}

p{
    width: 50px;
   color: black;
}




.firefox{
    display: flex;
}





.icons{
    display: flex;
}

.container{
display: flex;
justify-content: space-between
}


span{
    color: silver;
    justify-content: space-between;
    width: 152px;
}